<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>My Bank</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
</head>

  <body>
  <div class="container">
    <h1 class="main-header">IMPS</h1>
    <hr>
    <form id="app-form" action="">
    <fieldset class="sub-container" id="basic-details">
      <hr>
        
      <label for="fromacc">From Account :  </label>
      <input type="text" id="fromacc" name="fromacc"><br><br>

      <label for="toacc">To Account :  </label>
      <input type="text" id="toacc" name="toacc"><br><br>

      <label for="amt">Amount :   </label>
      <input type="text" id="amt" name="amt"><br><br>

      <label for="tdate">Transaction Date :  </label>
      <input type="text" id="tdate" name="tdate"><br><br>

      <label for="remark">Maturity Instructions :  </label>
      <input type="text" id="mi" name="mi"><br><br>

      <label for="remark">Remark :  </label>
      <input type="text" id="remark" name="remark"><br><br>
      
      <div class="form-group">
        <button  name="button1id" class="btn btn-success" ng-click="submitRequest()">Save</button>
     </div>
     <div class="form-group">
        <button  name="button2id" class="btn btn-danger" >Reset</button>
     </div>
     <div class="form-group">
        <button  name="button3id" id="saveas" class="btn btn-danger">Save as Template</button>
     </div> 
     <div class="form-group">
        <button  name="button4id" class="btn btn-success">Continue</button>
     </div>

     

    </fieldset>
    </form>
  </div>
        
      
</body>
</html>