<!--<app-forgot-password></app-forgot-password>
<app-forgot-user-id></app-forgot-user-id>
<app-set-password></app-set-password>
<app-dashboard></app-dashboard>
<app-rtgs></app-rtgs>
<app-addpayee></app-addpayee>
<app-view-all-payee></app-view-all-payee>
<app-admin></app-admin>
<app-sessionexpired></app-sessionexpired>
<app-home></app-home>-->
<!--<app-create-account></app-create-account>-->
<!--<app-login></app-login>-->
<!--<app-registration></app-registration>-->
<router-outlet></router-outlet>